a {
    text-decoration: none!important;
}

a:hover {
    color: #BBA47B!important;
}

button {
    border: none;
    background-color: transparent;
}

.activeLink {
    color: #BBA47B;
    padding-bottom: 10px;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #1E1E1E 0% 10%,#BBA47B 10% 90%, #1E1E1E 90% 100%);
}

.link {
    color: #FFFFFF;
}